/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

 body {
   background-color: #E9EBEE;
 }

 header {
   background-color: #3B5998;
 }
 header a:hover{
   background-color: #3B5998;
 }
 .header-title,  .header-title:active, .header-title:visited,
 #header-name, #header-name:active, #header-name:hover, #header-name:visited{
    color: #fff;
 }

 .top-nav .dropdown a:hover {
   background-color: #3B5998;
 }

 .header-icon {
   color: #fff;
   margin-top: 5px;
   margin-left: 15px;
 }
.header-icon:visited {
  color: #fff;
}
.header-icon:hover {
  text-decoration: none;
}
 .nav>li>a.to-edit {
   height: 100%;
   padding-bottom: 35px;
 }
 .nav>li>a.to-edit:hover {
   background-color: #3B5998;
   opacity: 0.8;
 }

 #header-name {
   padding-top: 5px;
 }

 #header-img img{
   width: 30px;
   height: 30px;
   margin-right: 10px;
 }
 .collapse {
   background-color: #5f7ebf;
 }
