// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field img {
  width: 20%;
  max-height: 300px;
  margin: 15px auto;
}

.user-top img,
.friend-top img {
  width: 50px;
  height: 50px;
}

/* friend */


.friend-area {
  background-color: #fff;
  padding: 10px;
}

.friend-area a:hover {
  background: none;
  text-decoration: none;
  color: #333;
}

.friend-area p {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}
